// Optional features
$enable-grid-classes: false;
$enable-cssgrid: true;
$enable-dark-mode: false;

// Font
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 0.9375rem;
$display-font-weight: 200;

// Shadow
$box-shadow-sm: 0 1.2rem 1.5rem rgb(76 78 97 / 12%);
